<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eat-Da-Burger</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/main.css">

</head>
<body>

  <div class="container">
    <div class="jumbotron">
      <img src="assets/img/burger.png" class="img-responsive" alt="Hamburger" id="hamburger-image">
      <h1 class="text-center"> Eat-Da-Burger!</h1>
      <hr>
      <h2 class="text-center">Welcome to your burger wishlist!</h2>
      <br>
    </div>
  </div>

  <section class="container">
    {{{body}}}
  </section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/js/burger.js"></script>
</body>
</html>
