<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eat-Da-Burger</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/main.css">

</head>
<body>

  <div class="container">
    <div class="jumbotron">
      <img src="assets/img/burger.png" id="hamburger-image" class="img-responsive" alt="Hamburger">
      <h1 class="text-center"> Eat-Da-Burger!</h1>
      <hr>
      <h2 class="text-center">Welcome to your burger wishlist!</h2>
      <br>
    </div>
  </div>

  <section class="container">
    {{{body}}}
  </section>


</body>
</html>
